* {
    font-family: "JetBrainsMono Nerd Font", "Noto Sans CJK JP", sans-serif;
    font-size: 10px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: #e8dcc0;
    opacity: 1.0;
    /*border: 2px solid #3c3836;
    border-radius: 8px;*/
}

/* aby zaoblení nebylo useknuté containerem */
#waybar {
    margin: 0;
}

/* --------- CENTER REGION --------- */

#workspaces {
    margin: 0 0 0 0;
    padding: 2 0px;
    color: #928374;
    background: #243b2e;
    opacity: 0.83;
    border: 2px solid transparent;
    border-radius: 8px;
    margin: 2px 4px;
}

#workspaces button {
    padding: 4 4 4 4;
    color: #928374;
    border: 2px solid transparent;
    border-radius: 8px;
    background-clip: padding-box;
    margin: 2px 4px;
}

#workspaces button.active {
    color: #c1683a;
    opacity: 0.93;
    background: #e8dcc0;
    border: 2px solid #c1683a;
    background-clip: padding-box;
}

#workspaces button.urgent {
    color: #fb4934;
    border: 2px solid #fb4934;
}

/* doesnt work with ext, mby ill do workaround later */
/* #workspaces button.empty {    
    opacity: 0.2;
}

#workspaces button.empty.active {
    opacity: 1.0;
    color: red;
} */

#workspaces button:hover { /* placeholder style */
    opacity: 0.73;
    background: #b98562;
    background-clip: padding-box;
    border: 2px solid transparent;
    border-color: #fabd2f;
    box-shadow: none;
    outline: none;
}

#clock,
#cpu,
#memory,
#pulseaudio,
#battery {
    padding: 4px 12px;
    margin: 4px 3px;
    background: #3c3836;
    border-radius: 10px;
    color: #ebdbb2;
}

#clock {
    color: #b8bb26;
    font-weight: bold;
}

#cpu {
    color: #83a598;
}

#memory {
    color: #d3869b;
}

#pulseaudio {
    color: #fabd2f;
}

#pulseaudio.muted {
    color: #928374;
}

#battery {
    color: #8ec07c;
}

#battery.warning:not(.charging) {
    color: #fabd2f;
    background: #3c3836;
}

#battery.critical:not(.charging) {
    color: #fb4934;
    background: #3c3836;
}

#custom-launcher {
    padding: 0 8px;
    background-color: rgba(60, 56, 54, 0.55);
    border-top: 1px solid rgba(232, 220, 192, 0.15);
    border-bottom: 1px solid rgba(232, 220, 192, 0.15);
    border-left: 1px solid rgba(232, 220, 192, 0.15);
    border-radius: 8px 0 0 8px;
    margin-top: 8px;
    margin-left: 16px;
    color: #b8bb26;
}